body{
	background: #a10023;
}

h1{
	background: yellow;
	border-radius: 100px;
	line-height: 100px;
	text-align: center;
	color: white;
	width: 100px;
	height: 100px;
}

h1:hover{
	background: blue;
	margin-top: 50px;
	transition: all: .5s;
}

h3{
	background: teal;

}

p{
	background: cornflowerblue;

}
a{
	background: gold;
	display: block;
	width: 100px;
	height: 100px;
}